.player-card{
    display: inline-block;
    border: solid black 1px;
    text-align: center;
}


.form-group{
    text-align: center;
    
}



.buttonHolder{
    text-align:  center;
}

.panel-heading{
    text-align: center;
}


