.player-card{
    display: inline-block;
    border: solid black 1px;
    text-align: center;
    margin-left: 20px;
}


.form-group{
    text-align: center;
    
}



.buttonHolder{
    text-align:  center;
}



.panel-default > .panel-heading {
text-align: center;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}


